<section id="box-shadow-bottom"> </section>


<!-- Section Team -->
<section class="page-section-top-alt-np" id="section-team-mp">
  <div class="container">


    <div class="team-slider flexslider">
 <ul class="team-slides">

<!--Slide 1 with team member 1-->
 <li>
  <div class="row">
    <div class="col-md-6">
      <div class="team-member">
        <img src="http://placehold.it/302x850" alt="">
      </div>
    </div>

    <div class="col-md-6 team-member-info">
         <h3 class="uppercase">Johnny Doe <small>UX/UI & Copywriter</small></h3>
         <p>Vivamus pharetra odio diam, eget tempus quam posuere quis. Proin eleifend non lectus eu mollis. Duis ac nisl eu nisl porta venenatis id sed sapien. Cras ante leo, tincidunt ut sapien non, aliquam hendrerit lectus. Maecenas scelerisque tortor a nisl condimentum, et posuere lectus sodales. Sed in urna tempus turpis duis.</p>

       <div class="team-social-icons">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
       </div>
       <div class="phone-n-mail">
         <a class="display-block" href="#"><i class="fa fa-phone"></i> +01 23 456 7801</a>
         <a class="display-block" href="#"><i class="fa fa-envelope-o"></i> johnny.doe@domain.com</a>
       </div>
       <div class="signature">
         <img class="img-responsive" src="assets/img/site/signature-02.png" alt="Signature">
       </div>
    </div>
  </div><!-- /.row -->
 </li>


 <!--Slide 2 with team member 2-->
 <li>
  <div class="row">
    <div class="col-md-6">
      <div class="team-member">
        <img src="http://placehold.it/302x850" alt="">
      </div>
    </div>

    <div class="col-md-6 team-member-info">
        <h3 class="uppercase">Justine Smith <small>Copywriter</small></h3>
        <p>Integer viverra odio a ipsum porttitor consequat. Sed id aliquet ante, laoreet scelerisque nunc. Duis eget dui id lorem tempor egestas vitae vel dolor. Cras accumsan ipsum vel sapien viverra eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pellentesque sem mauris.</p>

      <div class="team-social-icons">
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
      <div class="phone-n-mail">
         <a class="display-block" href="#"><i class="fa fa-phone"></i> +01 23 456 7802</a>
         <a class="display-block" href="#"><i class="fa fa-envelope-o"></i> justine.smith@domain.com</a>
      </div>
      <div class="signature">
         <img class="img-responsive" src="assets/img/site/signature-03.png" alt="Signature">
      </div>
    </div>
  </div><!-- /.row -->
 </li>


<!--Slide 3 with team member 3-->
 <li>
  <div class="row">
    <div class="col-md-6">
      <div class="team-member">
        <img src="http://placehold.it/302x850" alt="">
     </div>
    </div>

    <div class="col-md-6 team-member-info">
       <h3 class="uppercase">Steve Power <small>CEO & Co-Founder</small></h3>
       <p>Vivamus pharetra odio diam, eget tempus quam posuere quis. Proin eleifend non lectus eu mollis. Duis ac nisl eu nisl porta venenatis id sed sapien. Cras ante leo, tincidunt ut sapien non, aliquam hendrerit lectus. Maecenas scelerisque tortor a nisl condimentum, et posuere lectus sodales. Sed in urna tempus turpis duis.</p>

       <div class="team-social-icons">
         <a href="#"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-pinterest"></i></a>
      </div>
      <div class="phone-n-mail">
         <a class="display-block" href="#"><i class="fa fa-phone"></i> +01 23 456 7803</a>
         <a class="display-block" href="#"><i class="fa fa-envelope-o"></i> steve.power@domain.com</a>
      </div>
      <div class="signature">
         <img class="img-responsive" src="assets/img/site/signature.png" alt="Signature">
      </div>
    </div>
  </div><!-- /.row -->
 </li>


 <!--Slide 4 with team member 4-->
 <li>
   <div class="row">
    <div class="col-md-6">
      <div class="team-member">
          <img src="http://placehold.it/302x850" alt="">
       </div>
    </div>

    <div class="col-md-6 team-member-info">
        <h3 class="uppercase">Sarah Miller <small>UX Developer</small></h3>
        <p>Integer viverra odio a ipsum porttitor consequat. Sed id aliquet ante, laoreet scelerisque nunc. Duis eget dui id lorem tempor egestas vitae vel dolor. Cras accumsan ipsum vel sapien viverra eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pellentesque sem mauris.</p>

      <div class="team-social-icons">
         <a href="#"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
      <div class="phone-n-mail">
         <a class="display-block" href="#"><i class="fa fa-phone"></i> +01 23 456 7804</a>
         <a class="display-block" href="#"><i class="fa fa-envelope-o"></i> sarah.miller@domain.com</a>
      </div>
      <div class="signature">
         <img class="img-responsive" src="assets/img/site/signature-04.png" alt="Signature">
      </div>
    </div>
  </div><!-- /.row -->
 </li>

   </ul>
  </div>
 </div>
</section>
<!--Section Team Ends -->
